<div class="container">


  <!-- Carousel-->
  <div class="row justify-content-center">
    <div class="card bg-white mb-3 shadow-sm">
      <div class="card-body text-left">
        <h5 class="card-title">Who are you?</h5>
        <form [formGroup]="whoAreYouForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
            <div *ngIf="whoAreYouSubmit && f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)" class="alert alert-danger">
              First Name is required
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
            <div *ngIf="whoAreYouSubmit && f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)" class="alert alert-danger">
              Last Name is required
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <div *ngIf="whoAreYouSubmit && f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <div *ngIf="whoAreYouSubmit && f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
            <div *ngIf="whoAreYouSubmit && f.confirmPassword.errors?.MatchPassword && (f.confirmPassword.dirty || f.confirmPassword.touched)"
              class="alert alert-danger">
              Passwords must match
            </div>
          </div>

          <div class="form-group">
            <input type="string" class="form-control" name="city" placeholder="City">
          </div>
          <div class="form-group">
            <input type="string" class="form-control" name="phoneNumber" placeholder="Phone number">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="birthday" placeholder="birthday">
          </div>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" value="Male"> Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" value="Female"> Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <input type="string" class="form-control" placeholder="Categories">
          </div>

          <!-- Labels -->
          <div class="form-group">
            <span class="badge badge-info">Health</span>
            <span class="badge badge-info">Education</span>
            <span class="badge badge-info">Technology</span>
            <span class="badge badge-info">Psychology</span>
          </div>

          <h5 class="card-title">Are you an expert?</h5>

          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="AreYouAnExpert" [value]=false class="form-check-input" [(ngModel)]="expert ">
                No, skip
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="AreYouAnExpert" [value]=true class="form-check-input" [(ngModel)]="expert">
                Yes, create my page
              </label>
            </div>

          </div>


          <h5 class="card-title">What kind of expert are you</h5>

          <div class="form-group">
            <input type="string" class="form-control" name="expertCategory" placeholder="Category">
          </div>
          <div class="form-group">
            <input type="string" class="form-control" name="expertSubCategory" placeholder="Sub category">
          </div>

          <div class="form-group">
            <textarea id="description" class="form-control" placeholder="Type a description about your self"></textarea>
          </div>

          <div class="form-group">
            <div class="d-flex flex-row-reverse">
              <button class="btn btn-primary">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>