<nav class="navbar navbar-light">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/brain-logo.jpg" width="100" height="100">
    </a>
    <h1>Oppifon</h1>
  </div>
  <form action="action_page.php">
    <div>
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

      </div>

      <button class="btn btn-success" type="submit">Login</button>
      <input type="checkbox" name="remember"> Remember me


      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

    <div class="container">

    </div>

    <div class="container" style="background-color:#f1f1f1">
    </div>
  </form>
</nav>
