<!--Section: Author Box-->
<section class="my-5 fluid-container">
  <div class="card card-body">
    <!-- Card header -->
    <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
      <div>
        <h5 class="font-weight-bold mt-0">
          <a class="text-default" href="">Danny Newman</a>
        </h5>
        <h6 class="mt-0">
          <a class="text-default">Cand.phych</a>
        </h6>
      </div>
      <div class="text-right">
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item"><a data-toggle="modal" data-target="#contactModalCenter" class="text-default mr-3"><i
                class="fa fa-envelope mr-1"></i>Contact</a></li>
          <li class="list-inline-item"><a (click)="calendarClick()" class="text-default mr-3"><i class="fa fa-user mr-1"></i>See
              Calendar
            </a></li>
          <li class="list-inline-item"><a href="" class="text-default mr-3"><i class="fa fa-star mr-1"></i>Favorite</a></li>
        </ul>
        <ul class="list-unstyled list-inline mb-2 pt-1">
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fa fa-lg fa-facebook"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fa fa-lg fa-linkedin"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fa fa-lg fa-instagram"> </i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container media mt-4 px-1">
      <img class="card-img-100 rounded-circle d-flex z-depth-1 mr-3" src="assets/img/Rasmus.jpg" alt="Generic placeholder image">
      <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod consectetur accusamus velit nostrum
        et magnam"</p>
    </div>

    <br/>
    <div class="row">
      <div class="container col-sm card">
        <h5>
          <a>Reviews</a>
        </h5>
        <div id="reviewStars">
          <i>4.5 </i>
          <i class="grey-text mr-1"><i class="fa fa-lg fa-star"> </i></i>
          <i class="grey-text mr-1"><i class="fa fa-lg fa-star"> </i></i>
          <i class="grey-text mr-1"><i class="fa fa-lg fa-star"> </i></i>
          <i class="grey-text mr-1"><i class="fa fa-lg fa-star"> </i></i>
          <i class="grey-text mr-1"><i class="fa fa-lg fa-star-half"> </i></i>
        </div>

        <ul *ngFor="let review of reviews" class="list-group list-group-flush">
          <li class="list-group-item">{{review}}</li>

        </ul>
      </div>
      <div class="container col-sm">
        <!-- empty div to separat Reviews and Main fields -->
      </div>
      <div class="container col-sm">
        <h5>
          <a>Main fields</a>
        </h5>
        <ul class="list-group">
          <li class="list-group-item">Love <i class="fa fa-lg fa-heart"></i></li>
          <li class="list-group-item">Stress <i class="fa fa-lg fa-flash"></i></li>
          <li class="list-group-item">Mindfulness <i class="fa fa-lg fa-hand-peace-o"></i></li>
          <button id="bookButton" (click)=calendarClick() mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect>Book
            Danny
          </button>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Section: Author Box-->
<!-- Modal -->
<div class="modal fade" id="contactModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contact infomation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-6">
            <i class="fa fa-user"></i>
            <p>Danny Newman</p>
            <p>Cand.phych</p>
          </div>

          <div class="col-md-6">
              <i class="fa fa-home"></i>
            <p>San Francisco, CA 94126</p>
            <p>United States</p>
          </div>
        </div>
        <div class="row text-center">

          <div class="col-md-6">
            <i class="fa fa-phone"></i>
            <p>+ 45 21 43 65 87</p>
            <p>Mon - Fri, 8:00-22:00</p>
          </div>

          <div class="col-md-6">
            <i class="fa fa-envelope"></i>
            <p>dannynewman@gmail.com</p>
            <p>Eskeeit@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
